# Created by https://www.toptal.com/developers/gitignore/api/macos,node,expressionengine
# Edit at https://www.toptal.com/developers/gitignore?templates=macos,node,expressionengine

### ExpressionEngine ###
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

### Nodejs ###
node_modules/