<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FULLUSERNAME</key>
	<string>sy</string>
	<key>FILEHEADER</key>
	<string> File Name : ___FILENAME___ 
// Auther    : ___FULLUSERNAME___ 
// Date      : ___DATE___</string>
</dict>
</plist>
