<nav class="nav" style="background-color: #ddefdc;"  >
  <a class="nav-link active" aria-current="page" href="/habit_list" style="color: #1e6c0b;" >Home</a>
  <a class="nav-link" href="/habit_list" style="color: #1e6c0b;" >습관관리</a>
  <a class="nav-link" href="/register" style="color: #1e6c0b;" >회원가입</a>
  <a class="nav-link" href="/logout" style="color: #1e6c0b;" >로그아웃</a>
</nav>