<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
</head>
<body>
    <h2>로그인</h2>
    <form action="login" method="post">
        <figure>
            <p>
                <label>이메일</label>
                <input type="email" name="email">
            </p>
            <p>
                <label>비밀번호</label>
                <input type="password" name="password">
            </p>
            <button type="submit">로그인</button>
        </figure>
    </form>
    <a href="register" style="text-decoration: none;">회원가입</a>
</body>
</html>