<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
</head>
<body>
    <h2>회원가입</h2>
    <form action="register" method="post">
        <figure>
            <p>
                <label>성명</label>
                <input type="text" name="name">
            <p>
                <label>이메일</label>
                <input type="email" name="email">
            </p>
            <p>
                <label>비밀번호</label>
                <input type="password" name="password">
            </p>
            <button type="submit">회원가입</button>
        </figure>
    </form>
    <a href="login" style="text-decoration: none;">이미 계정을 갖고 있습니다.</a>
</body>
</html>